name: Test Workflow
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Cross
        run: cargo install cross

      - name: Build aarch64 binary
        run: cargo build --release --target aarch64-unknown-linux-gnu

