name: Release Statistically Linked Rust Binary
on:
  push:
  branches: [ main ]

  jobs:
  build:
  runs-on: ubuntu-latest
  steps:
  - uses: actions/checkout@v4

  - name: Install cross
  run: cargo install cross

  - name: Build with Cross
  run: cross build --release --target aarch64-unknown-linux-musl

  - name: Upload Build Artifacts
  uses: actions/upload-artifact@v4
  with:
  name: aarch64-build
  path: target/
  if-no-files-found: warn

