name: Release Statically Linked Rust Binary
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build aarch64 binary with Cross
        uses: cross-rs/cross@v0.2.5
        with:
          command: build
          args: --release --target aarch64-unknown-linux-gnu
